body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* overwrite */
.edit__wrapper .ant-form-item {
  margin-bottom: 0;
}

.edit__wrapper {
  overflow: hidden;
  margin-bottom: 24px;
  padding: 10px;
}
.edit__wrapper:hover {
  box-shadow: 0 0 10px #eee;
}
.edit__btn {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.field .ant-row.ant-form-item {
  border: 0;
}
.field .ant-row {
  padding: 5px;
  border: 1px dashed #ccc;
  min-height: 60px;
}
.field .ant-col-8 {
  border: 1px dashed #eee;
  min-height: 60px;
}
.field .ant-card {
  min-height: 60px;
}

